<!-- Site wrapper -->
<div class="wrapper">

  <t3b-header></t3b-header>
  <t3b-nav></t3b-nav>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Restaurantes 
        <small>Modul de restaurantes</small>
      </h1>
    </section>
    <!-- Main content -->
    <section class="content">

          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Lista de Restaurantes</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <button class="btn btn-md btn-flat bg-olive margin-right-s margin-bottom-m" ng-click="openForm()">
                    <i class="fa fa-plus"></i> Nuevo
                  </button>
                  <table datatable="ng" class="table table-bordered table-striped responsive">
                    <thead>
                      <tr>
                        <th>Logo</th>
                        <th>Nombre</th>
                        <th>Localizacion</th>
                        <th>Domicilio</th>
                        <th>Hora de cierre</th>
                        <th>Descripcion</th>
                        <th>Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="company in companies">
                        <td> 
                          <img ng-if="company.logo" class="imgCompany" ng-src="{{baseUrl}}{{company.logo}}" alt="Logo" width="80" height="80">
                          <img ng-if="!company.logo" class="imgCompany" ng-src="http://vignette3.wikia.nocookie.net/shokugekinosoma/images/6/60/No_Image_Available.png/revision/latest?cb=20150708082716" alt="No image" width="80" height="80">
                        </td>
                        <td>{{ company.name }}</td>
                        <td>{{ company.location }}</td>
                        <td>{{ company.domicile }}</td>
                        <td>{{ company.hour_closing }}</td>
                        <td>{{ company.description }}</td>
                        
                          <td>
                          <button class="btn btn-xs btn-flat bg-navy buttonOp" ng-click="openForm(company, $index)">
                            <i class="fa fa-pencil"></i>
                          </button>
                          <button class="btn btn-xs btn-flat bg-maroon buttonOp" ng-click="openDeleteConfirm(company, $index)">
                            <i class="fa fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->

    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->

  <div class="modal fade modal-danger" id="companyDeleteModal">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title">Eliminar compañia</h4>
        </div>
        <div class="modal-body">
          ¿Esta seguro que desea borrar el registro selecionado?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-outline" ng-click="deleteCompany()" >
            <i class="fa fa-trash"></i> Eliminar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <!--modal eliminar  documentos--> 
<div class="modal fade modal-default" id="companyFormModal">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" ng-if="!isEdit">Nuevo Restaurante </h4>
        <h4 class="modal-title" ng-if="isEdit">Editar Restaurante</h4>
      </div>

      <div class="modal-body">
        <form  name="companyForm" class="form-horizontal">
          <fieldset>

            <div class="form-group centered">
              <label class="label">Logo</label>
              <img ng-if="isEdit && !logo" ng-src="{{baseUrl+company.logo}}" class="LogoCompany" width="100px" height="100px" alt="Logo">
              <img ng-if="!isEdit && !logo" ng-src="http://vignette3.wikia.nocookie.net/shokugekinosoma/images/6/60/No_Image_Available.png/revision/latest?cb=20150708082716" 
                                 class="LogoCompany" width="100px" height="100px" alt="No image">
                                <img src="" ng-if="logo" class="LogoCompany" height="100" width="100" input-src="logo" align="center">

              <button type="button" class="btn btn-success btn-sm" ng-click="addLogo()">
                <i class="fa fa-folder-open"></i> Examinar 
              </button>
              <input id="file" type="file" style="display:none" onchange="angular.element(this).scope().selectLogo(this.files)"/>
            </div> 

            <div class="form-group">
              <label for="name" class="col-md-4 control-label required ">Nombre</label>
              <div class="col-md-6">
                <input class="form-control" type="text" ng-model="company.name" required>  
              </div>
              
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label required">Latitud</label>
              <div class="col-md-4">
                <input class="form-control" type="text" ng-model="company.lat" required> 
              </div>
              

            </div>
            <div class="form-group">
              <label class="col-md-4 control-label required">Longitud</label>
              <div class="col-md-4">
                 <input class="form-control" type="text" ng-model="company.long" required>   
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label required">Telefono</label>
              <div class="col-md-4">
                <input class="form-control" type="text" ng-model="company.phone" required>  
              </div>
            </div>

            <div class=" form-group">
              <label class="col-md-4 control-label required">Valor Domicilio</label>
              <div class="col-md-4">
                <input class="form-control" type="text" ng-model="company.domicile" required>  
              </div>
      
            </div> 
            <div class="form-group">
              <label class="col-md-4 control-label required">Hora de cierre</label>
              <div class="col-md-4">
                  <input class="form-control" type="text" ng-model="company.hour_closing" required>  
              </div>
              
            </div>
             <div class="form-group">
              <label class="col-md-4 control-label required">Descripcion</label>
              <div class="col-md-6">
                  <textarea class="form-control" type="textarea" ng-model="company.description" required></textarea>  
              </div>
              
            </div>
            <div class="col-xs-12 form-group">
              <label class="label">Productos</label>
              <t3bs-select2-multiple class="form-control"
                                     select2-value="id"
                                     select2-display="name"
                                     select2-model="listProduct"
                                     source="products">
              </t3bs-select2-multiple>
            </div> 
          </fieldset>
        </form>

      </div> 
      <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-if="!isEdit" ng-disabled='!companyForm.$valid' ng-click="saveCompany(company, listProduct)" >
          <i class="fa fa-check"></i> Guardar</button>
           <button type="button" class="btn btn-primary" ng-if="isEdit" ng-disabled='!companyForm.$valid' ng-click="saveCompany(company)" >
          <i class="fa fa-check"></i> Actualizar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>


  <ng-include src="'app/restaurants/restaurant.form.html'"></ng-include>
  <t3b-footer></t3b-footer>
</div><!-- ./wrapper -->

<!--modal ver usuarios--> 
<!--
   -<div class="modal fade modal-default" id="clientsModal">
   -
   -  <div class="modal-dialog">
   -    <div class="modal-content">
   -      <div class="modal-header">
   -        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
   -        <h4 class="modal-title">Clientes/Usuarios</h4>
   -      </div>
   -      <div class="modal-body">
   -          <ul>
   -            <li ng-repeat="user in company.clients">
   -              {{ user.first_name +' '+ user.last_name }}
   -            </li>
   -          </ul>
   -       </div> 
   -      <div class="modal-footer">
   -        <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Cerrar</button>
   -      </div>
   -    </div>[> /.modal-content <]
   -  </div>[> /.modal-dialog <]
   -</div>
   -->
