<div class="container">
   <div class="row">
    <div class="center" style="margin-top: 30px;margin-bottom: 30px;">
      <h5>Actualizar ubicación</h5>
      <a class="btn-floating btn-large waves-effect waves-light red" href="#/restaurantes" ng-click="getPositionCurrent();"><i class="material-icons">room</i></a> </div>

      
     <h4 class="title">Restaurantes cerca de tí</h4>
     <div class="col s12 m4">
      <div class="card ">
        <div class="card-image small">
          <img src="webapp/assets/images/quile.jpg">
          <span class="card-title">Quiles</span>
        </div>
        <div class="card-content">
          <p class="description">Comidas rapidas, Pollo, Asados, Carnes, Pinchos, Asados</p>
        </div>
        <div class="card-action">
          <a href="#/menu">Ver menu</a>
        </div>
      </div>
    </div>
    <div class="col s12  m4">
      <div class="card ">
        <div class="card-image medium">
          <img src="webapp/assets/images/asadero.png">
          <span class="card-title">Asadero donde octavio</span>
        </div>
        <div class="card-content">
          <p class="description">Comidas rapidas, Arepas, Pincho, Arepa rellena</p>
          </div>
          <div class="card-action">
            <a href="menu.html">Ver menu</a>
          </div>
        </div>
      </div>
    <div class="col s12 m4">
      <div class="card ">
        <div class="card-image medium">
          <img src="webapp/assets/images/vomito.jpg">
          <span class="card-title">Pizza vomitos</span>
        </div>
        <div class="card-content">
          <p class="description"> Pizza, Sandwischs, Asados, Ensaladas, pinchos</p>
          </div>
          <div class="card-action">
            <a href="menu.html">Ver menu</a>
          </div>
        </div>
      </div>
    <div class="col s12 m4">
      <div class="card ">
        <div class="card-image medium">
          <img src="webapp/assets/images/pinchos.jpg">
          <span class="card-title">Pincho & parrilla</span>
        </div>
        <div class="card-content">
          <p class="description">Comidas rapidas, Pollo, Asados, Carnes, Pinchos, Asados</p>
          </div>
          <div class="card-action">
            <a href="menu.html">Ver menu</a>
          </div>
        </div>
      </div>
     
  </div> 
  </div>
