<div class="parallax-container">
      
<div class="parallax"><img src="webapp/assets/images/maps.jpg" alt="fondo"></div>
      <div  style="width: 600px; height: 200px;width: 50%; margin: 0 auto; margin-top: 50px; " >
        <div class="center-align imgInput" >
          
            <img src="webapp/assets/images/map-swatch.png"  id="" alt="fondo-ubiquity">
           <div class="textoEncima">
          
            <h4>Busca restaurantes en tu ubicación:</h4>
             <a class="btn-floating btn-large waves-effect waves-light red tooltipped"data-position="bottom" data-delay="50" data-tooltip="Buscar" href="#/restaurantes/" ng-click="getPositionCurrent();" ><i class="material-icons">room</i></a> 
          </div>
        </div>

      </div> 
    </div>
